In [1]:
import pandas as pd

In [2]:
df_price = pd.read_csv('price.csv', sep=';')
df_price

      id                                              title price   qty
0    NaN                                                NaN   NaN   NaN
1    1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....    10   5.0
2    2.0  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...   NaN   NaN
3    3.0  Ноут HP Pavilion Gaming 15-bc504ur (7DT87EA) B...    7$   NaN
4    4.0  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...    25   2.0
5    5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....   35$   3.0
6    6.0  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...     5   NaN
7    7.0  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...    11   1.0
8    8.0  Ноут Asus ROG Strix G15 G512LI-HN094 (90NR0381...   16$  10.0
9    9.0  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...    15   1.0
10  10.0  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...   NaN   NaN
11   NaN                                                NaN   NaN   NaN
12  12.0  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...   10$   1.0

In [6]:
df_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      11 non-null     float64
 1   title   11 non-null     object
 2   price   9 non-null      object
 3   qty     7 non-null      float64
dtypes: float64(2), object(2)
memory usage: 544.0+ bytes

In [5]:
df_price['price'] = df_price.price.str.replace(r'$', '')
df_price

C:\Users\111\AppData\Local\Temp\ipykernel_20564\299777216.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_price['price'] = df_price.price.str.replace(r'$', '')

      id                                              title price   qty
0    NaN                                                NaN   NaN   NaN
1    1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....    10   5.0
2    2.0  Ноутбук Asus ROG Strix G15 G512LI-HN057 (90NR0...   NaN   NaN
3    3.0  Ноут HP Pavilion Gaming 15-bc504ur (7DT87EA) B...     7   NaN
4    4.0  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...    25   2.0
5    5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....    35   3.0
6    6.0  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...     5   NaN
7    7.0  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...    11   1.0
8    8.0  Ноут Asus ROG Strix G15 G512LI-HN094 (90NR0381...    16  10.0
9    9.0  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...    15   1.0
10  10.0  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...   NaN   NaN
11   NaN                                                NaN   NaN   NaN
12  12.0  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...    10   1.0

In [12]:
df_price.dropna(subset=['price'], inplace=True)
df_price

      id                                              title price   qty
1    1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....    10   5.0
3    3.0  Ноут HP Pavilion Gaming 15-bc504ur (7DT87EA) B...     7   NaN
4    4.0  Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...    25   2.0
5    5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....    35   3.0
6    6.0  Ноутбук Dell Inspiron 3582 (I3582C54H5NIL-BK) ...     5   NaN
7    7.0  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...    11   1.0
8    8.0  Ноут Asus ROG Strix G15 G512LI-HN094 (90NR0381...    16  10.0
9    9.0  Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...    15   1.0
12  12.0  Ноутбук Lenovo IdeaPad L340-15IRH Gaming (81LK...    10   1.0

In [13]:
# pd.to_numeric(df_price, ...)
df_price.price.astype('uint8')

1     10
3      7
4     25
5     35
6      5
7     11
8     16
9     15
12    10
Name: price, dtype: uint8

# Categorycal Data

In [14]:
df = pd.read_csv('city.csv', sep=';')
df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [15]:
df.CountryCode.nunique()

232

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           4079 non-null   int64
 1   Name         4079 non-null   object
 2   CountryCode  4079 non-null   object
 3   District     4075 non-null   object
 4   Population   4079 non-null   int64
dtypes: int64(2), object(3)
memory usage: 159.5+ KB

In [19]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4079 entries, 0 to 4078
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           4079 non-null   int64
 1   Name         4079 non-null   object
 2   CountryCode  4079 non-null   object
 3   District     4075 non-null   object
 4   Population   4079 non-null   int64
dtypes: int64(2), object(3)
memory usage: 846.9 KB

In [20]:
df.memory_usage(deep=True)

Index             128
ID              32632
Name           277922
CountryCode    244740
District       279127
Population      32632
dtype: int64

In [21]:
df['CountryCode'] = df.CountryCode.astype('category')

In [22]:
df.memory_usage(deep=True)

Index             128
ID              32632
Name           277922
CountryCode     30374
District       279127
Population      32632
dtype: int64

In [23]:
%%timeit
df.groupby('CountryCode').count()

3.29 ms ± 264 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [24]:
df.CountryCode.cat.codes

0         1
1         1
2         1
3         1
4       153
       ...
4074    171
4075    171
4076    171
4077    171
4078    171
Length: 4079, dtype: int16

In [25]:
df.CountryCode.cat.categories

Index(['ABW', 'AFG', 'AGO', 'AIA', 'ALB', 'AND', 'ANT', 'ARE', 'ARG', 'ARM',
       ...
       'VIR', 'VNM', 'VUT', 'WLF', 'WSM', 'YEM', 'YUG', 'ZAF', 'ZMB', 'ZWE'],
      dtype='object', length=232)