In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'date': ['01.01.2021',
            '02.01.2021',
            '03.01.2021',
            '04.01.2021',
            '05.01.2021',
            '06.01.2021',
            '01.03.2021',
            '02.05.2022']
})
df

         date
0  01.01.2021
1  02.01.2021
2  03.01.2021
3  04.01.2021
4  05.01.2021
5  06.01.2021
6  01.03.2021
7  02.05.2022

In [3]:
pd.to_datetime('30,11,2020', format='%d,%m,%Y')

Timestamp('2020-11-30 00:00:00')

In [4]:
pd.to_datetime('30,11,2020', format='%d,%m,%Y').year

2020

In [5]:
df.dtypes

date    object
dtype: object

In [9]:
df['dates'] = pd.to_datetime(df.date, format='%d.%m.%Y')

In [10]:
df

         date      dates
0  01.01.2021 2021-01-01
1  02.01.2021 2021-01-02
2  03.01.2021 2021-01-03
3  04.01.2021 2021-01-04
4  05.01.2021 2021-01-05
5  06.01.2021 2021-01-06
6  01.03.2021 2021-03-01
7  02.05.2022 2022-05-02