In [1]:
import pandas as pd

## Введение

In [3]:
df = pd.DataFrame({
    'country': ['France', 'USA', 'Ukraine'],
    'capital': ['Parice', 'Washington', 'Kiev'],
    'population': [66.99, 328.2, 41.98]
})
df

   country     capital  population
0   France      Parice       66.99
1      USA  Washington      328.20
2  Ukraine        Kiev       41.98

In [4]:
df2 = pd.DataFrame({
    'country': ['France', 'USA', 'Ukraine'],
    'capital': ['Parice', 'Washington', 'Kiev'],
    'population': [66.99, 328.2, 41.98]
}, index=['FR', 'US', 'UA'])
df2

    country     capital  population
FR   France      Parice       66.99
US      USA  Washington      328.20
UA  Ukraine        Kiev       41.98

In [5]:
df.index

RangeIndex(start=0, stop=3, step=1)

## Методы

In [7]:
df2['capital']['US']

'Washington'

In [9]:
df2.capital.UA

'Kiev'

In [12]:
df['capital'][1]

'Washington'

In [13]:
df2.at['US', 'capital']

'Washington'

In [17]:
df2.iat[1,2]

328.2

In [16]:
df2.loc['US']

country              USA
capital       Washington
population         328.2
Name: US, dtype: object

In [18]:
df2.columns

Index(['country', 'capital', 'population'], dtype='object')