In [1]:
import pandas as pd

In [3]:
city_df = pd.read_csv('city.csv', sep=';')
city_df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [7]:
city_df[ city_df.CountryCode == 'AFG' ]['Population'].sum()

2332100

In [10]:
city_df.groupby('CountryCode').sum()['Population']

CountryCode
ABW       29034
AFG     2332100
AGO     2561600
AIA        1556
ALB      270000
         ...
YEM     1743700
YUG     2189507
ZAF    15196370
ZMB     2473500
ZWE     2730420
Name: Population, Length: 232, dtype: int64

In [13]:
city_df.groupby('CountryCode').agg(['min', 'max', 'sum', 'mean', 'count'])['Population']

C:\Users\111\AppData\Local\Temp\ipykernel_16748\815750870.py:1: FutureWarning: ['Name', 'District'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  city_df.groupby('CountryCode').agg(['min', 'max', 'sum', 'mean', 'count'])['Population']

                min      max       sum           mean  count
CountryCode
ABW           29034    29034     29034   29034.000000      1
AFG          127800  1780000   2332100  583025.000000      4
AGO          118200  2022000   2561600  512320.000000      5
AIA             595      961      1556     778.000000      2
ALB          270000   270000    270000  270000.000000      1
...             ...      ...       ...            ...    ...
YEM          103300   503600   1743700  290616.666667      6
YUG           92303  1204000   2189507  273688.375000      8
ZAF           89292  2352121  15196370  345372.045455     44
ZMB          118100  1317000   2473500  353357.142857      7
ZWE          128037  1410000   2730420  455070.000000      6

[232 rows x 5 columns]

In [15]:
code_group = city_df.groupby('CountryCode')
code_group

In [16]:
for index, value in code_group:
    print(index)
    print(value)

ABW
      ID        Name CountryCode District  Population
128  129  Oranjestad         ABW        –       29034
AFG
   ID            Name CountryCode  District  Population
0   1           Kabul         AFG     Kabol     1780000
1   2        Qandahar         AFG  Qandahar      237500
2   3           Herat         AFG     Herat      186800
3   4  Mazar-e-Sharif         AFG     Balkh      127800
AGO
    ID      Name CountryCode  District  Population
55  56    Luanda         AGO    Luanda     2022000
56  57    Huambo         AGO    Huambo      163100
57  58    Lobito         AGO  Benguela      130000
58  59  Benguela         AGO  Benguela      128300
59  60    Namibe         AGO    Namibe      118200
AIA
    ID        Name CountryCode District  Population
60  61  South Hill         AIA        –         961
61  62  The Valley         AIA        –         595
ALB
    ID    Name CountryCode District  Population
33  34  Tirana         ALB   Tirana      270000
AND
    ID              Name CountryCode          District  Population
54  55  Andorra la Vella         AND  Andorra la Vella       21189
ANT
    ID        Name CountryCode District  Population
32  33  Willemstad         ANT  Curaçao        2345
ARE
    ID       Name CountryCode   District  Population
63  64      Dubai         ARE      Dubai      669181
64  65  Abu Dhabi         ARE  Abu Dhabi      398695
65  66     Sharja         ARE     Sharja      320095
66  67     al-Ayn         ARE  Abu Dhabi      225970
67  68      Ajman         ARE      Ajman      114395
ARG
      ID                            Name CountryCode             District  \
68    69                    Buenos Aires         ARG     Distrito Federal
69    70                      La Matanza         ARG         Buenos Aires
70    71                         Córdoba         ARG              Córdoba
71    72                         Rosario         ARG             Santa Fé
72    73                 Lomas de Zamora         ARG         Buenos Aires
73    74                         Quilmes         ARG         Buenos Aires
74    75                 Almirante Brown         ARG         Buenos Aires
75    76                        La Plata         ARG         Buenos Aires
76    77                   Mar del Plata         ARG         Buenos Aires
77    78           San Miguel de Tucumán         ARG              Tucumán
78    79                           Lanús         ARG         Buenos Aires
79    80                           Merlo         ARG         Buenos Aires
80    81              General San Martín         ARG         Buenos Aires
81    82                           Salta         ARG                Salta
82    83                          Moreno         ARG         Buenos Aires
83    84                        Santa Fé         ARG             Santa Fé
84    85                      Avellaneda         ARG         Buenos Aires
85    86                 Tres de Febrero         ARG         Buenos Aires
86    87                           Morón         ARG         Buenos Aires
87    88                Florencio Varela         ARG         Buenos Aires
88    89                      San Isidro         ARG         Buenos Aires
89    90                           Tigre         ARG         Buenos Aires
90    91             Malvinas Argentinas         ARG         Buenos Aires
91    92                   Vicente López         ARG         Buenos Aires
92    93                     Berazategui         ARG         Buenos Aires
93    94                      Corrientes         ARG           Corrientes
94    95                      San Miguel         ARG         Buenos Aires
95    96                    Bahía Blanca         ARG         Buenos Aires
96    97              Esteban Echeverría         ARG         Buenos Aires
97    98                     Resistencia         ARG                Chaco
98    99                     José C. Paz         ARG         Buenos Aires
99   100                          Paraná         ARG           Entre Rios
100  101                      Godoy Cruz         ARG              Mendoza
101  102                         Posadas         ARG             Misiones
102  103                      Guaymallén         ARG              Mendoza
103  104             Santiago del Estero         ARG  Santiago del Estero
104  105           San Salvador de Jujuy         ARG                Jujuy
105  106                      Hurlingham         ARG         Buenos Aires
106  107                         Neuquén         ARG              Neuquén
107  108                       Ituzaingó         ARG         Buenos Aires
108  109                    San Fernando         ARG         Buenos Aires
109  110                         Formosa         ARG              Formosa
110  111                       Las Heras         ARG              Mendoza
111  112                        La Rioja         ARG             La Rioja
112  113  San Fernando del Valle de Cata         ARG            Catamarca
113  114                      Río Cuarto         ARG              Córdoba
114  115              Comodoro Rivadavia         ARG               Chubut
115  116                         Mendoza         ARG              Mendoza
116  117      San Nicolás de los Arroyos         ARG         Buenos Aires
117  118                        San Juan         ARG             San Juan
118  119                         Escobar         ARG         Buenos Aires
119  120                       Concordia         ARG           Entre Rios
120  121                           Pilar         ARG         Buenos Aires
121  122                        San Luis         ARG             San Luis
122  123                          Ezeiza         ARG         Buenos Aires
123  124                      San Rafael         ARG              Mendoza
124  125                          Tandil         ARG         Buenos Aires

     Population
68      2982146
69      1266461
70      1157507
71       907718
72       622013
73       559249
74       538918
75       521936
76       512880
77       470809
78       469735
79       463846
80       422542
81       367550
82       356993
83       353063
84       353046
85       352311
86       349246
87       315432
88       306341
89       296226
90       290335
91       288341
92       276916
93       258103
94       248700
95       239810
96       235760
97       229212
98       221754
99       207041
100      206998
101      201273
102      200595
103      189947
104      178748
105      170028
106      167296
107      158197
108      153036
109      147636
110      145823
111      138117
112      134935
113      134355
114      124104
115      123027
116      119302
117      119152
118      116675
119      116485
120      113428
121      110136
122       99578
123       94651
124       91101
ARM
      ID      Name CountryCode District  Population
125  126   Yerevan         ARM  Yerevan     1248700
126  127    Gjumri         ARM    Širak      211700
127  128  Vanadzor         ARM     Lori      172700
ASM
    ID      Name CountryCode District  Population
52  53    Tafuna         ASM  Tutuila        5200
53  54  Fagatogo         ASM  Tutuila        2323
ATG
    ID          Name CountryCode District  Population
62  63  Saint John´s         ATG  St John       24000
AUS
      ID           Name CountryCode         District  Population
129  130         Sydney         AUS  New South Wales     3276207
130  131      Melbourne         AUS         Victoria     2865329
131  132       Brisbane         AUS       Queensland     1291117
132  133          Perth         AUS   West Australia     1096829
133  134       Adelaide         AUS  South Australia      978100
134  135       Canberra         AUS   Capital Region      322723
135  136     Gold Coast         AUS       Queensland      311932
136  137      Newcastle         AUS  New South Wales      270324
137  138  Central Coast         AUS  New South Wales      227657
138  139     Wollongong         AUS  New South Wales      219761
139  140         Hobart         AUS         Tasmania      126118
140  141        Geelong         AUS         Victoria      125382
141  142     Townsville         AUS       Queensland      109914
142  143         Cairns         AUS       Queensland       92273
AUT
        ID        Name CountryCode       District  Population
1522  1523        Wien         AUT           Wien     1608144
1523  1524        Graz         AUT     Steiermark      240967
1524  1525        Linz         AUT  North Austria      188022
1525  1526    Salzburg         AUT       Salzburg      144247
1526  1527   Innsbruck         AUT         Tiroli      111752
1527  1528  Klagenfurt         AUT        Kärnten       91141
AZE
      ID        Name CountryCode    District  Population
143  144        Baku         AZE        Baki     1787800
144  145       Gäncä         AZE       Gäncä      299300
145  146    Sumqayit         AZE    Sumqayit      283000
146  147  Mingäçevir         AZE  Mingäçevir       93900
BDI
      ID       Name CountryCode   District  Population
551  552  Bujumbura         BDI  Bujumbura      300000
BEL
      ID                 Name CountryCode       District  Population
174  175            Antwerpen         BEL      Antwerpen      446525
175  176                 Gent         BEL  East Flanderi      224180
176  177            Charleroi         BEL        Hainaut      200827
177  178                Liège         BEL          Liège      185639
178  179  Bruxelles [Brussel]         BEL        Bryssel      133859
179  180               Brugge         BEL  West Flanderi      116246
180  181           Schaerbeek         BEL        Bryssel      105692
181  182                Namur         BEL          Namur      105419
182  183                 Mons         BEL        Hainaut       90935
BEN
      ID        Name CountryCode    District  Population
185  186     Cotonou         BEN  Atlantique      536827
186  187  Porto-Novo         BEN       Ouémé      194000
187  188     Djougou         BEN     Atacora      134099
188  189     Parakou         BEN      Borgou      103577
BFA
      ID            Name CountryCode    District  Population
548  549     Ouagadougou         BFA     Kadiogo      824000
549  550  Bobo-Dioulasso         BFA       Houet      300000
550  551       Koudougou         BFA  Boulkiemdé      105000
BGD
      ID          Name CountryCode    District  Population
149  150         Dhaka         BGD       Dhaka     3612850
150  151    Chittagong         BGD  Chittagong     1392860
151  152        Khulna         BGD      Khulna      663340
152  153      Rajshahi         BGD    Rajshahi      294056
153  154   Narayanganj         BGD       Dhaka      202134
154  155       Rangpur         BGD    Rajshahi      191398
155  156    Mymensingh         BGD       Dhaka      188713
156  157       Barisal         BGD     Barisal      170232
157  158         Tungi         BGD       Dhaka      168702
158  159       Jessore         BGD      Khulna      139710
159  160       Comilla         BGD  Chittagong      135313
160  161     Nawabganj         BGD    Rajshahi      130577
161  162      Dinajpur         BGD    Rajshahi      127815
162  163         Bogra         BGD    Rajshahi      120170
163  164        Sylhet         BGD      Sylhet      117396
164  165  Brahmanbaria         BGD  Chittagong      109032
165  166       Tangail         BGD       Dhaka      106004
166  167      Jamalpur         BGD       Dhaka      103556
167  168         Pabna         BGD    Rajshahi      103277
168  169       Naogaon         BGD    Rajshahi      101266
169  170     Sirajganj         BGD    Rajshahi       99669
170  171    Narsinghdi         BGD       Dhaka       98342
171  172       Saidpur         BGD    Rajshahi       96777
172  173       Gazipur         BGD       Dhaka       96717
BGR
      ID          Name CountryCode     District  Population
538  539        Sofija         BGR  Grad Sofija     1122302
539  540       Plovdiv         BGR      Plovdiv      342584
540  541         Varna         BGR        Varna      299801
541  542        Burgas         BGR       Burgas      195255
542  543          Ruse         BGR         Ruse      166467
543  544  Stara Zagora         BGR      Haskovo      147939
544  545        Pleven         BGR        Lovec      121952
545  546        Sliven         BGR       Burgas      105530
546  547        Dobric         BGR        Varna      100399
547  548         Šumen         BGR        Varna       94686
BHR
      ID       Name CountryCode   District  Population
148  149  al-Manama         BHR  al-Manama      148000
BHS
      ID    Name CountryCode        District  Population
147  148  Nassau         BHS  New Providence      172000
BIH
      ID        Name CountryCode          District  Population
200  201    Sarajevo         BIH        Federaatio      360000
201  202  Banja Luka         BIH  Republika Srpska      143079
202  203      Zenica         BIH        Federaatio       96027
BLR
        ID         Name CountryCode     District  Population
3519  3520        Minsk         BLR  Horad Minsk     1674000
3520  3521        Gomel         BLR        Gomel      475000
3521  3522     Mogiljov         BLR     Mogiljov      356000
3522  3523      Vitebsk         BLR      Vitebsk      340000
3523  3524       Grodno         BLR       Grodno      302000
3524  3525        Brest         BLR        Brest      286000
3525  3526     Bobruisk         BLR     Mogiljov      221000
3526  3527  Baranovitši         BLR        Brest      167000
3527  3528      Borisov         BLR        Minsk      151000
3528  3529        Pinsk         BLR        Brest      130000
3529  3530         Orša         BLR      Vitebsk      124000
3530  3531        Mozyr         BLR        Gomel      110000
3531  3532  Novopolotsk         BLR      Vitebsk      106000
3532  3533         Lida         BLR       Grodno      101000
3533  3534    Soligorsk         BLR        Minsk      101000
3534  3535   Molodetšno         BLR        Minsk       97000
BLZ
      ID         Name CountryCode     District  Population
183  184  Belize City         BLZ  Belize City       55810
184  185     Belmopan         BLZ         Cayo        7105
BMU
      ID          Name CountryCode        District  Population
189  190  Saint George         BMU  Saint George´s        1800
190  191      Hamilton         BMU        Hamilton        1200
BOL
      ID                     Name CountryCode    District  Population
192  193  Santa Cruz de la Sierra         BOL  Santa Cruz      935361
193  194                   La Paz         BOL      La Paz      758141
194  195                  El Alto         BOL      La Paz      534466
195  196               Cochabamba         BOL  Cochabamba      482800
196  197                    Oruro         BOL       Oruro      223553
197  198                    Sucre         BOL  Chuquisaca      178426
198  199                   Potosí         BOL      Potosí      140642
199  200                   Tarija         BOL      Tarija      125255
BRA
      ID                   Name CountryCode           District  Population
205  206              São Paulo         BRA          São Paulo     9968485
206  207         Rio de Janeiro         BRA     Rio de Janeiro     5598953
207  208               Salvador         BRA              Bahia     2302832
208  209         Belo Horizonte         BRA       Minas Gerais     2139125
209  210              Fortaleza         BRA              Ceará     2097757
..   ...                    ...         ...                ...         ...
450  451                Palhoça         BRA     Santa Catarina       89465
451  452         Barra do Piraí         BRA     Rio de Janeiro       89388
452  453        Bento Gonçalves         BRA  Rio Grande do Sul       89254
453  454                    Poá         BRA          São Paulo       89236
454  455  Águas Lindas de Goiás         BRA              Goiás       89200

[250 rows x 5 columns]
BRB
      ID        Name CountryCode    District  Population
173  174  Bridgetown         BRB  St Michael        6070
BRN
      ID                 Name CountryCode          District  Population
537  538  Bandar Seri Begawan         BRN  Brunei and Muara       21484
BTN
      ID     Name CountryCode District  Population
191  192  Thimphu         BTN  Thimphu       22000
BWA
      ID         Name CountryCode     District  Population
203  204     Gaborone         BWA     Gaborone      213017
204  205  Francistown         BWA  Francistown      101805
CAF
        ID    Name CountryCode District  Population
1888  1889  Bangui         CAF   Bangui      524000
CAN
        ID              Name CountryCode          District  Population
1809  1810          Montréal         CAN            Québec     1016376
1810  1811           Calgary         CAN           Alberta      768082
1811  1812           Toronto         CAN           Ontario      688275
1812  1813        North York         CAN           Ontario      622632
1813  1814          Winnipeg         CAN          Manitoba      618477
1814  1815          Edmonton         CAN           Alberta      616306
1815  1816       Mississauga         CAN           Ontario      608072
1816  1817       Scarborough         CAN           Ontario      594501
1817  1818         Vancouver         CAN  British Colombia      514008
1818  1819         Etobicoke         CAN           Ontario      348845
1819  1820            London         CAN           Ontario      339917
1820  1821          Hamilton         CAN           Ontario      335614
1821  1822            Ottawa         CAN           Ontario      335277
1822  1823             Laval         CAN            Québec      330393
1823  1824            Surrey         CAN  British Colombia      304477
1824  1825          Brampton         CAN           Ontario      296711
1825  1826           Windsor         CAN           Ontario      207588
1826  1827         Saskatoon         CAN      Saskatchewan      193647
1827  1828         Kitchener         CAN           Ontario      189959
1828  1829           Markham         CAN           Ontario      189098
1829  1830            Regina         CAN      Saskatchewan      180400
1830  1831           Burnaby         CAN  British Colombia      179209
1831  1832            Québec         CAN            Québec      167264
1832  1833              York         CAN           Ontario      154980
1833  1834          Richmond         CAN  British Colombia      148867
1834  1835           Vaughan         CAN           Ontario      147889
1835  1836        Burlington         CAN           Ontario      145150
1836  1837            Oshawa         CAN           Ontario      140173
1837  1838          Oakville         CAN           Ontario      139192
1838  1839  Saint Catharines         CAN           Ontario      136216
1839  1840         Longueuil         CAN            Québec      127977
1840  1841     Richmond Hill         CAN           Ontario      116428
1841  1842       Thunder Bay         CAN           Ontario      115913
1842  1843            Nepean         CAN           Ontario      115100
1843  1844       Cape Breton         CAN       Nova Scotia      114733
1844  1845         East York         CAN           Ontario      114034
1845  1846           Halifax         CAN       Nova Scotia      113910
1846  1847         Cambridge         CAN           Ontario      109186
1847  1848        Gloucester         CAN           Ontario      107314
1848  1849        Abbotsford         CAN  British Colombia      105403
1849  1850            Guelph         CAN           Ontario      103593
1850  1851      Saint John´s         CAN      Newfoundland      101936
1851  1852         Coquitlam         CAN  British Colombia      101820
1852  1853           Saanich         CAN  British Colombia      101388
1853  1854          Gatineau         CAN            Québec      100702
1854  1855             Delta         CAN  British Colombia       95411
1855  1856           Sudbury         CAN           Ontario       92686

        ID     Name CountryCode  District  Population
3790  3791  Tallinn         EST  Harjumaa      403981
3791  3792    Tartu         EST  Tartumaa      101246
ETH
      ID         Name CountryCode     District  Population
755  756  Addis Abeba         ETH  Addis Abeba     2495000
756  757    Dire Dawa         ETH    Dire Dawa      164851
757  758       Nazret         ETH       Oromia      127842
758  759       Gonder         ETH       Amhara      112249
759  760         Dese         ETH       Amhara       97314
760  761       Mekele         ETH       Tigray       96938
761  762    Bahir Dar         ETH       Amhara       96140
FIN
        ID                    Name CountryCode           District  Population
3235  3236  Helsinki [Helsingfors]         FIN             Newmaa      555474
3236  3237                   Espoo         FIN             Newmaa      213271
3237  3238                 Tampere         FIN          Pirkanmaa      195468
3238  3239                  Vantaa         FIN             Newmaa      178471
3239  3240             Turku [Åbo]         FIN    Varsinais-Suomi      172561
3240  3241                    Oulu         FIN  Pohjois-Pohjanmaa      120753
3241  3242                   Lahti         FIN        Päijät-Häme       96921
FJI
      ID  Name CountryCode District  Population
763  764  Suva         FJI  Central       77366
FLK
      ID     Name CountryCode       District  Population
762  763  Stanley         FLK  East Falkland        1636
FRA
        ID                  Name CountryCode              District  Population
2973  2974                 Paris         FRA         Île-de-France     2125246
2974  2975             Marseille         FRA   Provence-Alpes-Côte      798430
2975  2976                  Lyon         FRA           Rhône-Alpes      445452
2976  2977              Toulouse         FRA         Midi-Pyrénées      390350
2977  2978                  Nice         FRA   Provence-Alpes-Côte      342738
2978  2979                Nantes         FRA      Pays de la Loire      270251
2979  2980            Strasbourg         FRA                Alsace      264115
2980  2981           Montpellier         FRA  Languedoc-Roussillon      225392
2981  2982              Bordeaux         FRA             Aquitaine      215363
2982  2983                Rennes         FRA       Haute-Normandie      206229
2983  2984              Le Havre         FRA     Champagne-Ardenne      190905
2984  2985                 Reims         FRA    Nord-Pas-de-Calais      187206
2985  2986                 Lille         FRA           Rhône-Alpes      184657
2986  2987            St-Étienne         FRA              Bretagne      180210
2987  2988                Toulon         FRA   Provence-Alpes-Côte      160639
2988  2989              Grenoble         FRA           Rhône-Alpes      153317
2989  2990                Angers         FRA      Pays de la Loire      151279
2990  2991                 Dijon         FRA             Bourgogne      149867
2991  2992                 Brest         FRA              Bretagne      149634
2992  2993               Le Mans         FRA      Pays de la Loire      146105
2993  2994      Clermont-Ferrand         FRA              Auvergne      137140
2994  2995                Amiens         FRA              Picardie      135501
2995  2996       Aix-en-Provence         FRA   Provence-Alpes-Côte      134222
2996  2997               Limoges         FRA              Limousin      133968
2997  2998                 Nîmes         FRA  Languedoc-Roussillon      133424
2998  2999                 Tours         FRA                Centre      132820
2999  3000          Villeurbanne         FRA           Rhône-Alpes      124215
3000  3001                  Metz         FRA              Lorraine      123776
3001  3002              Besançon         FRA         Franche-Comté      117733
3002  3003                  Caen         FRA       Basse-Normandie      113987
3003  3004               Orléans         FRA                Centre      113126
3004  3005              Mulhouse         FRA                Alsace      110359
3005  3006                 Rouen         FRA       Haute-Normandie      106592
3006  3007  Boulogne-Billancourt         FRA         Île-de-France      106367
3007  3008             Perpignan         FRA  Languedoc-Roussillon      105115
3008  3009                 Nancy         FRA              Lorraine      103605
3009  3010               Roubaix         FRA    Nord-Pas-de-Calais       96984
3010  3011            Argenteuil         FRA         Île-de-France       93961
3011  3012             Tourcoing         FRA    Nord-Pas-de-Calais       93540
3012  3013             Montreuil         FRA         Île-de-France       90674
FRO
      ID      Name CountryCode    District  Population
900  901  Tórshavn         FRO  Streymoyar       14542
FSM
        ID     Name CountryCode District  Population
2687  2688     Weno         FSM    Chuuk       22000
2688  2689  Palikir         FSM  Pohnpei        8600
GAB
      ID        Name CountryCode  District  Population
901  902  Libreville         GAB  Estuaire      419000
GBR
      ID          Name CountryCode  District  Population
455  456        London         GBR   England     7285000
456  457    Birmingham         GBR   England     1013000
457  458       Glasgow         GBR  Scotland      619680
458  459     Liverpool         GBR   England      461000
459  460     Edinburgh         GBR  Scotland      450180
..   ...           ...         ...       ...         ...
531  532     Maidstone         GBR   England       90878
532  533    Eastbourne         GBR   England       90000
533  534       Grimsby         GBR   England       89000
534  535  Saint Helier         GBR    Jersey       27523
535  536       Douglas         GBR         –       23487

[81 rows x 5 columns]
GEO
      ID     Name CountryCode            District  Population
904  905  Tbilisi         GEO             Tbilisi     1235200
905  906  Kutaisi         GEO             Imereti      240900
906  907  Rustavi         GEO        Kvemo Kartli      155400
907  908   Batumi         GEO    Adzaria [Atšara]      137700
908  909   Sohumi         GEO  Abhasia [Aphazeti]      111700
GHA
      ID              Name CountryCode       District  Population
909  910             Accra         GHA  Greater Accra     1070000
910  911            Kumasi         GHA        Ashanti      385192
911  912            Tamale         GHA       Northern      151069
912  913              Tema         GHA  Greater Accra      109975
913  914  Sekondi-Takoradi         GHA        Western      103653
GIB
      ID       Name CountryCode District  Population
914  915  Gibraltar         GIB        –       27025
GIN
      ID     Name CountryCode District  Population
925  926  Conakry         GIN  Conakry     1090610
GLP
      ID         Name CountryCode      District  Population
917  918   Les Abymes         GLP  Grande-Terre       62947
918  919  Basse-Terre         GLP   Basse-Terre       12433
GMB
      ID       Name CountryCode       District  Population
902  903  Serekunda         GMB  Kombo St Mary      102600
903  904     Banjul         GMB         Banjul       42326
GNB
      ID    Name CountryCode District  Population
926  927  Bissau         GNB   Bissau      241000
GNQ
        ID    Name CountryCode District  Population
2971  2972  Malabo         GNQ    Bioko       40000
GRC
        ID          Name CountryCode           District  Population
2400  2401       Athenai         GRC             Attika      772072
2401  2402  Thessaloniki         GRC  Central Macedonia      383967
2402  2403        Pireus         GRC             Attika      182671
2403  2404        Patras         GRC        West Greece      153344
2404  2405   Peristerion         GRC             Attika      137288
2405  2406    Herakleion         GRC              Crete      116178
2406  2407     Kallithea         GRC             Attika      114233
2407  2408        Larisa         GRC          Thessalia      113090
GRD
      ID            Name CountryCode   District  Population
915  916  Saint George´s         GRD  St George        4621
GRL
      ID  Name CountryCode District  Population
916  917  Nuuk         GRL    Kitaa       13445
GTM
      ID                 Name CountryCode        District  Population
921  922  Ciudad de Guatemala         GTM       Guatemala      823301
922  923                Mixco         GTM       Guatemala      209791
923  924          Villa Nueva         GTM       Guatemala      101295
924  925       Quetzaltenango         GTM  Quetzaltenango       90801
GUF
        ID     Name CountryCode District  Population
3013  3014  Cayenne         GUF  Cayenne       50699
GUM
      ID      Name CountryCode District  Population
919  920  Tamuning         GUM        –        9500
920  921     Agaña         GUM        –        1139
GUY
      ID        Name CountryCode    District  Population
927  928  Georgetown         GUY  Georgetown      254000
HKG
      ID                     Name CountryCode              District  \
935  936  Kowloon and New Kowloon         HKG  Kowloon and New Kowl
936  937                 Victoria         HKG              Hongkong

     Population
935     1987996
936     1312637
HND
      ID            Name CountryCode          District  Population
932  933     Tegucigalpa         HND  Distrito Central      813900
933  934  San Pedro Sula         HND            Cortés      383900
934  935        La Ceiba         HND         Atlántida       89200
HRV
        ID    Name CountryCode              District  Population
2408  2409  Zagreb         HRV           Grad Zagreb      706770
2409  2410   Split         HRV        Split-Dalmatia      189388
2410  2411  Rijeka         HRV  Primorje-Gorski Kota      167964
2411  2412  Osijek         HRV        Osijek-Baranja      104761
HTI
      ID            Name CountryCode District  Population
928  929  Port-au-Prince         HTI    Ouest      884472
929  930       Carrefour         HTI    Ouest      290204
930  931          Delmas         HTI    Ouest      240429
931  932  Le-Cap-Haïtien         HTI     Nord      102233
HUN
        ID            Name CountryCode              District  Population
3482  3483        Budapest         HUN              Budapest     1811552
3483  3484        Debrecen         HUN           Hajdú-Bihar      203648
3484  3485         Miskolc         HUN  Borsod-Abaúj-Zemplén      172357
3485  3486          Szeged         HUN              Csongrád      158158
3486  3487            Pécs         HUN               Baranya      157332
3487  3488            Györ         HUN     Györ-Moson-Sopron      127119
3488  3489     Nyiregyháza         HUN  Szabolcs-Szatmár-Ber      112419
3489  3490       Kecskemét         HUN           Bács-Kiskun      105606
3490  3491  Székesfehérvár         HUN                 Fejér      105119
IDN
        ID              Name CountryCode          District  Population
938    939           Jakarta         IDN      Jakarta Raya     9604900
939    940          Surabaya         IDN         East Java     2663820
940    941           Bandung         IDN         West Java     2429000
941    942             Medan         IDN    Sumatera Utara     1843919
942    943         Palembang         IDN  Sumatera Selatan     1222764
...    ...               ...         ...               ...         ...
1018  1019             Batam         IDN              Riau       91871
1019  1020  Padang Sidempuan         IDN    Sumatera Utara       91200
1020  1021          Sawangan         IDN         West Java       91100
1021  1022        Banyuwangi         IDN         East Java       89900
1022  1023    Tanjung Pinang         IDN              Riau       89900

[85 rows x 5 columns]
IND
        ID                Name CountryCode        District  Population
1023  1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1024  1025               Delhi         IND           Delhi     7206704
1025  1026  Calcutta [Kolkata]         IND    West Bengali     4399819
1026  1027    Chennai (Madras)         IND      Tamil Nadu     3841396
1027  1028           Hyderabad         IND  Andhra Pradesh     2964638
...    ...                 ...         ...             ...         ...
1359  1360        Ambala Sadar         IND         Haryana       90712
1360  1361          Baidyabati         IND    West Bengali       90601
1361  1362               Morvi         IND         Gujarat       90357
1362  1363             Raigarh         IND     Chhatisgarh       89166
1363  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]
IRL
        ID    Name CountryCode  District  Population
1446  1447  Dublin         IRL  Leinster      481854
1447  1448    Cork         IRL   Munster      127187
IRN
        ID                 Name CountryCode          District  Population
1379  1380              Teheran         IRN           Teheran     6758845
1380  1381              Mashhad         IRN          Khorasan     1887405
1381  1382              Esfahan         IRN           Esfahan     1266072
1382  1383               Tabriz         IRN  East Azerbaidzan     1191043
1383  1384               Shiraz         IRN              Fars     1053025
...    ...                  ...         ...               ...         ...
1441  1442  Torbat-e Heydariyeh         IRN          Khorasan       94600
1442  1443               Jahrom         IRN              Fars       94200
1443  1444               Semnan         IRN            Semnan       91045
1444  1445             Miandoab         IRN  West Azerbaidzan       90100
1445  1446              Qomsheh         IRN           Esfahan       89800

[67 rows x 5 columns]
IRQ
        ID            Name CountryCode        District  Population
1364  1365         Baghdad         IRQ         Baghdad     4336000
1365  1366           Mosul         IRQ          Ninawa      879000
1366  1367           Irbil         IRQ           Irbil      485968
1367  1368          Kirkuk         IRQ        al-Tamim      418624
1368  1369           Basra         IRQ           Basra      406296
1369  1370  al-Sulaymaniya         IRQ  al-Sulaymaniya      364096
1370  1371        al-Najaf         IRQ        al-Najaf      309010
1371  1372         Karbala         IRQ         Karbala      296705
1372  1373        al-Hilla         IRQ           Babil      268834
1373  1374     al-Nasiriya         IRQ          DhiQar      265937
1374  1375        al-Amara         IRQ          Maysan      208797
1375  1376     al-Diwaniya         IRQ     al-Qadisiya      196519
1376  1377       al-Ramadi         IRQ        al-Anbar      192556
1377  1378          al-Kut         IRQ           Wasit      183183
1378  1379          Baquba         IRQ          Diyala      114516
ISL
        ID       Name CountryCode          District  Population
1448  1449  Reykjavík         ISL  Höfuðborgarsvæði      109184
ISR
        ID              Name CountryCode   District  Population
1449  1450         Jerusalem         ISR  Jerusalem      633700
1450  1451    Tel Aviv-Jaffa         ISR   Tel Aviv      348100
1451  1452             Haifa         ISR      Haifa      265700
1452  1453  Rishon Le Ziyyon         ISR  Ha Merkaz      188200
1453  1454          Beerseba         ISR   Ha Darom      163700
1454  1455             Holon         ISR   Tel Aviv      163100
1455  1456       Petah Tiqwa         ISR  Ha Merkaz      159400
1456  1457            Ashdod         ISR   Ha Darom      155800
1457  1458           Netanya         ISR  Ha Merkaz      154900
1458  1459           Bat Yam         ISR   Tel Aviv      137000
1459  1460        Bene Beraq         ISR   Tel Aviv      133900
1460  1461         Ramat Gan         ISR   Tel Aviv      126900
1461  1462          Ashqelon         ISR   Ha Darom       92300
1462  1463           Rehovot         ISR  Ha Merkaz       90300
ITA
        ID                   Name CountryCode              District  \
1463  1464                   Roma         ITA                Latium
1464  1465                 Milano         ITA             Lombardia
1465  1466                 Napoli         ITA              Campania
1466  1467                 Torino         ITA              Piemonte
1467  1468                Palermo         ITA               Sisilia
1468  1469                 Genova         ITA               Liguria
1469  1470                Bologna         ITA        Emilia-Romagna
1470  1471                Firenze         ITA               Toscana
1471  1472                Catania         ITA               Sisilia
1472  1473                   Bari         ITA                Apulia
1473  1474                Venezia         ITA                Veneto
1474  1475                Messina         ITA               Sisilia
1475  1476                 Verona         ITA                Veneto
1476  1477                Trieste         ITA  Friuli-Venezia Giuli
1477  1478                 Padova         ITA                Veneto
1478  1479                Taranto         ITA                Apulia
1479  1480                Brescia         ITA             Lombardia
1480  1481     Reggio di Calabria         ITA              Calabria
1481  1482                 Modena         ITA        Emilia-Romagna
1482  1483                  Prato         ITA               Toscana
1483  1484                  Parma         ITA        Emilia-Romagna
1484  1485               Cagliari         ITA              Sardinia
1485  1486                Livorno         ITA               Toscana
1486  1487                Perugia         ITA                Umbria
1487  1488                 Foggia         ITA                Apulia
1488  1489    Reggio nell´ Emilia         ITA        Emilia-Romagna
1489  1490                Salerno         ITA              Campania
1490  1491                Ravenna         ITA        Emilia-Romagna
1491  1492                Ferrara         ITA        Emilia-Romagna
1492  1493                 Rimini         ITA        Emilia-Romagna
1493  1494               Syrakusa         ITA               Sisilia
1494  1495                Sassari         ITA              Sardinia
1495  1496                  Monza         ITA             Lombardia
1496  1497                Bergamo         ITA             Lombardia
1497  1498                Pescara         ITA              Abruzzit
1498  1499                 Latina         ITA                Latium
1499  1500                Vicenza         ITA                Veneto
1500  1501                  Terni         ITA                Umbria
1501  1502                  Forlì         ITA        Emilia-Romagna
1502  1503                 Trento         ITA   Trentino-Alto Adige
1503  1504                 Novara         ITA              Piemonte
1504  1505               Piacenza         ITA        Emilia-Romagna
1505  1506                 Ancona         ITA                Marche
1506  1507                  Lecce         ITA                Apulia
1507  1508                Bolzano         ITA   Trentino-Alto Adige
1508  1509              Catanzaro         ITA              Calabria
1509  1510              La Spezia         ITA               Liguria
1510  1511                  Udine         ITA  Friuli-Venezia Giuli
1511  1512        Torre del Greco         ITA              Campania
1512  1513                 Andria         ITA                Apulia
1513  1514               Brindisi         ITA                Apulia
1514  1515  Giugliano in Campania         ITA              Campania
1515  1516                   Pisa         ITA               Toscana
1516  1517               Barletta         ITA                Apulia
1517  1518                 Arezzo         ITA               Toscana
1518  1519            Alessandria         ITA              Piemonte
1519  1520                 Cesena         ITA        Emilia-Romagna
1520  1521                 Pesaro         ITA                Marche

      Population
1463     2643581
1464     1300977
1465     1002619
1466      903705
1467      683794

        ID                   Name CountryCode          District  Population
2510  2511             Port-Louis         MUS        Port-Louis      138200
2511  2512  Beau Bassin-Rose Hill         MUS  Plaines Wilhelms      100616
2512  2513         Vacoas-Phoenix         MUS  Plaines Wilhelms       98464
MWI
        ID      Name CountryCode  District  Population
2460  2461  Blantyre         MWI  Blantyre      478155
2461  2462  Lilongwe         MWI  Lilongwe      435964
MYS
        ID              Name CountryCode             District  Population
2463  2464      Kuala Lumpur         MYS  Wilayah Persekutuan     1297526
2464  2465              Ipoh         MYS                Perak      382853
2465  2466      Johor Baharu         MYS                Johor      328436
2466  2467     Petaling Jaya         MYS             Selangor      254350
2467  2468            Kelang         MYS             Selangor      243355
2468  2469  Kuala Terengganu         MYS           Terengganu      228119
2469  2470            Pinang         MYS         Pulau Pinang      219603
2470  2471        Kota Bharu         MYS             Kelantan      219582
2471  2472           Kuantan         MYS               Pahang      199484
2472  2473           Taiping         MYS                Perak      183261
2473  2474          Seremban         MYS      Negeri Sembilan      182869
2474  2475           Kuching         MYS              Sarawak      148059
2475  2476              Sibu         MYS              Sarawak      126381
2476  2477          Sandakan         MYS                Sabah      125841
2477  2478        Alor Setar         MYS                Kedah      124412
2478  2479     Selayang Baru         MYS             Selangor      124228
2479  2480     Sungai Petani         MYS                Kedah      114763
2480  2481         Shah Alam         MYS             Selangor      102019
MYT
        ID       Name CountryCode   District  Population
2513  2514  Mamoutzou         MYT  Mamoutzou       12000
NAM
        ID      Name CountryCode District  Population
2725  2726  Windhoek         NAM   Khomas      169000
NCL
        ID    Name CountryCode District  Population
3492  3493  Nouméa         NCL        –       76293
NER
        ID    Name CountryCode District  Population
2737  2738  Niamey         NER   Niamey      420000
2738  2739  Zinder         NER   Zinder      120892
2739  2740  Maradi         NER   Maradi      112965
NFK
        ID      Name CountryCode District  Population
2805  2806  Kingston         NFK        –         800
NGA
        ID       Name CountryCode       District  Population
2740  2741      Lagos         NGA          Lagos     1518000
2741  2742     Ibadan         NGA     Oyo & Osun     1432000
2742  2743  Ogbomosho         NGA     Oyo & Osun      730000
2743  2744       Kano         NGA  Kano & Jigawa      674100
2744  2745    Oshogbo         NGA     Oyo & Osun      476800
...    ...        ...         ...            ...         ...
2799  2800     Ejigbo         NGA     Oyo & Osun      105900
2800  2801      Agege         NGA          Lagos      105000
2801  2802  Ise-Ekiti         NGA   Ondo & Ekiti      103400
2802  2803       Ugep         NGA    Cross River      102600
2803  2804        Epe         NGA          Lagos      101000

[64 rows x 5 columns]
NIC
        ID        Name CountryCode    District  Population
2733  2734     Managua         NIC     Managua      959000
2734  2735        León         NIC        León      123865
2735  2736  Chinandega         NIC  Chinandega       97387
2736  2737      Masaya         NIC      Masaya       88971
NIU
        ID   Name CountryCode District  Population
2804  2805  Alofi         NIU        –         682
NLD
    ID              Name CountryCode       District  Population
4    5         Amsterdam         NLD  Noord-Holland      731200
5    6         Rotterdam         NLD   Zuid-Holland      593321
6    7              Haag         NLD   Zuid-Holland      440900
7    8           Utrecht         NLD        Utrecht      234323
8    9         Eindhoven         NLD  Noord-Brabant      201843
9   10           Tilburg         NLD  Noord-Brabant      193238
10  11         Groningen         NLD      Groningen      172701
11  12             Breda         NLD  Noord-Brabant      160398
12  13         Apeldoorn         NLD     Gelderland      153491
13  14          Nijmegen         NLD     Gelderland      152463
14  15          Enschede         NLD     Overijssel      149544
15  16           Haarlem         NLD  Noord-Holland      148772
16  17            Almere         NLD      Flevoland      142465
17  18            Arnhem         NLD     Gelderland      138020
18  19          Zaanstad         NLD  Noord-Holland      135621
19  20  ´s-Hertogenbosch         NLD  Noord-Brabant      129170
20  21        Amersfoort         NLD        Utrecht      126270
21  22        Maastricht         NLD        Limburg      122087
22  23         Dordrecht         NLD   Zuid-Holland      119811
23  24            Leiden         NLD   Zuid-Holland      117196
24  25    Haarlemmermeer         NLD  Noord-Holland      110722
25  26        Zoetermeer         NLD   Zuid-Holland      110214
26  27             Emmen         NLD        Drenthe      105853
27  28            Zwolle         NLD     Overijssel      105819
28  29               Ede         NLD     Gelderland      101574
29  30             Delft         NLD   Zuid-Holland       95268
30  31           Heerlen         NLD        Limburg       95052
31  32           Alkmaar         NLD  Noord-Holland       92713
NOR
        ID       Name CountryCode       District  Population
2806  2807       Oslo         NOR           Oslo      508726
2807  2808     Bergen         NOR      Hordaland      230948
2808  2809  Trondheim         NOR  Sør-Trøndelag      150166
2809  2810  Stavanger         NOR       Rogaland      108848
2810  2811      Bærum         NOR       Akershus      101340
NPL
        ID        Name CountryCode District  Population
2728  2729   Kathmandu         NPL  Central      591835
2729  2730  Biratnagar         NPL  Eastern      157764
2730  2731     Pokhara         NPL  Western      146318
2731  2732   Lalitapur         NPL  Central      145847
2732  2733     Birgunj         NPL  Central       90639
NRU
        ID    Name CountryCode District  Population
2726  2727  Yangor         NRU        –        4050
2727  2728   Yaren         NRU        –         559
NZL
        ID          Name CountryCode    District  Population
3493  3494      Auckland         NZL    Auckland      381800
3494  3495  Christchurch         NZL  Canterbury      324200
3495  3496       Manukau         NZL    Auckland      281800
3496  3497   North Shore         NZL    Auckland      187700
3497  3498     Waitakere         NZL    Auckland      170600
3498  3499    Wellington         NZL  Wellington      166700
3499  3500       Dunedin         NZL     Dunedin      119600
3500  3501      Hamilton         NZL    Hamilton      117100
3501  3502    Lower Hutt         NZL  Wellington       98100
OMN
        ID     Name CountryCode   District  Population
2816  2817   al-Sib         OMN     Masqat      155000
2817  2818   Salala         OMN      Zufar      131813
2818  2819  Bawshar         OMN     Masqat      107500
2819  2820    Suhar         OMN  al-Batina       90814
2820  2821   Masqat         OMN     Masqat       51969
PAK
        ID              Name CountryCode              District  Population
2821  2822           Karachi         PAK                 Sindh     9269265
2822  2823            Lahore         PAK                Punjab     5063499
2823  2824        Faisalabad         PAK                Punjab     1977246
2824  2825        Rawalpindi         PAK                Punjab     1406214
2825  2826            Multan         PAK                Punjab     1182441
2826  2827         Hyderabad         PAK                 Sindh     1151274
2827  2828        Gujranwala         PAK                Punjab     1124749
2828  2829          Peshawar         PAK  Nothwest Border Prov      988005
2829  2830            Quetta         PAK           Baluchistan      560307
2830  2831         Islamabad         PAK             Islamabad      524500
2831  2832          Sargodha         PAK                Punjab      455360
2832  2833           Sialkot         PAK                Punjab      417597
2833  2834        Bahawalpur         PAK                Punjab      403408
2834  2835            Sukkur         PAK                 Sindh      329176
2835  2836             Jhang         PAK                Punjab      292214
2836  2837       Sheikhupura         PAK                Punjab      271875
2837  2838           Larkana         PAK                 Sindh      270366
2838  2839            Gujrat         PAK                Punjab      250121
2839  2840            Mardan         PAK  Nothwest Border Prov      244511
2840  2841             Kasur         PAK                Punjab      241649
2841  2842    Rahim Yar Khan         PAK                Punjab      228479
2842  2843           Sahiwal         PAK                Punjab      207388
2843  2844             Okara         PAK                Punjab      200901
2844  2845               Wah         PAK                Punjab      198400
2845  2846   Dera Ghazi Khan         PAK                Punjab      188100
2846  2847       Mirpur Khas         PAK                  Sind      184500
2847  2848         Nawabshah         PAK                  Sind      183100
2848  2849           Mingora         PAK  Nothwest Border Prov      174500
2849  2850           Chiniot         PAK                Punjab      169300
2850  2851            Kamoke         PAK                Punjab      151000
2851  2852    Mandi Burewala         PAK                Punjab      149900
2852  2853            Jhelum         PAK                Punjab      145800
2853  2854         Sadiqabad         PAK                Punjab      141500
2854  2855         Jacobabad         PAK                  Sind      137700
2855  2856         Shikarpur         PAK                  Sind      133300
2856  2857          Khanewal         PAK                Punjab      133000
2857  2858         Hafizabad         PAK                Punjab      130200
2858  2859             Kohat         PAK  Nothwest Border Prov      125300
2859  2860      Muzaffargarh         PAK                Punjab      121600
2860  2861           Khanpur         PAK                Punjab      117800
2861  2862             Gojra         PAK                Punjab      115000
2862  2863      Bahawalnagar         PAK                Punjab      109600
2863  2864           Muridke         PAK                Punjab      108600
2864  2865        Pak Pattan         PAK                Punjab      107800
2865  2866         Abottabad         PAK  Nothwest Border Prov      106000
2866  2867        Tando Adam         PAK                  Sind      103400
2867  2868         Jaranwala         PAK                Punjab      103300
2868  2869          Khairpur         PAK                  Sind      102200
2869  2870   Chishtian Mandi         PAK                Punjab      101700
2870  2871             Daska         PAK                Punjab      101500
2871  2872              Dadu         PAK                  Sind       98600
2872  2873   Mandi Bahauddin         PAK                Punjab       97300
2873  2874     Ahmadpur East         PAK                Punjab       96000
2874  2875           Kamalia         PAK                Punjab       95300
2875  2876           Khuzdar         PAK           Baluchistan       93100
2876  2877            Vihari         PAK                Punjab       92300
2877  2878  Dera Ismail Khan         PAK  Nothwest Border Prov       90400
2878  2879         Wazirabad         PAK                Punjab       89700
2879  2880          Nowshera         PAK  Nothwest Border Prov       89400
PAN
        ID              Name CountryCode       District  Population
2881  2882  Ciudad de Panamá         PAN         Panamá      471373
2882  2883     San Miguelito         PAN  San Miguelito      315382
PCN
        ID       Name CountryCode District  Population
2911  2912  Adamstown         PCN        –          42
PER
        ID          Name CountryCode     District  Population
2889  2890          Lima         PER         Lima     6464693
2890  2891      Arequipa         PER     Arequipa      762000
2891  2892      Trujillo         PER  La Libertad      652000
2892  2893      Chiclayo         PER   Lambayeque      517000
2893  2894        Callao         PER       Callao      424294
2894  2895       Iquitos         PER       Loreto      367000
2895  2896      Chimbote         PER       Ancash      336000
2896  2897      Huancayo         PER        Junín      327000
2897  2898         Piura         PER        Piura      325000
2898  2899         Cusco         PER        Cusco      291000
2899  2900      Pucallpa         PER      Ucayali      220866
2900  2901         Tacna         PER        Tacna      215683
2901  2902           Ica         PER          Ica      194820
2902  2903       Sullana         PER        Piura      147361
2903  2904       Juliaca         PER         Puno      142576
2904  2905       Huánuco         PER      Huanuco      129688
2905  2906      Ayacucho         PER     Ayacucho      118960
2906  2907  Chincha Alta         PER          Ica      110016
2907  2908     Cajamarca         PER    Cajamarca      108009
2908  2909          Puno         PER         Puno      101578
2909  2910    Ventanilla         PER       Callao      101056
2910  2911      Castilla         PER        Piura       90642
PHL
      ID        Name CountryCode              District  Population
764  765      Quezon         PHL  National Capital Reg     2173831
765  766      Manila         PHL  National Capital Reg     1581082
766  767    Kalookan         PHL  National Capital Reg     1177604
767  768       Davao         PHL     Southern Mindanao     1147116
768  769        Cebu         PHL       Central Visayas      718821
..   ...         ...         ...                   ...         ...
895  896    Malungon         PHL     Southern Mindanao       93232
896  897  Santa Cruz         PHL      Southern Tagalog       92694
897  898    Sorsogon         PHL                 Bicol       92512
898  899  Candelaria         PHL      Southern Tagalog       92429
899  900       Ligao         PHL                 Bicol       90603

[136 rows x 5 columns]
PLW
        ID   Name CountryCode District  Population
2880  2881  Koror         PLW    Koror       12000
PNG
        ID          Name CountryCode              District  Population
2883  2884  Port Moresby         PNG  National Capital Dis      247000
POL
        ID                 Name CountryCode             District  Population
2927  2928             Warszawa         POL          Mazowieckie     1615369
2928  2929                 Lódz         POL              Lodzkie      800110
2929  2930               Kraków         POL          Malopolskie      738150
2930  2931              Wroclaw         POL         Dolnoslaskie      636765
2931  2932               Poznan         POL        Wielkopolskie      576899
2932  2933               Gdansk         POL            Pomorskie      458988
2933  2934             Szczecin         POL  Zachodnio-Pomorskie      416988
2934  2935            Bydgoszcz         POL   Kujawsko-Pomorskie      386855
2935  2936               Lublin         POL            Lubelskie      356251
2936  2937             Katowice         POL              Slaskie      345934
2937  2938            Bialystok         POL            Podlaskie      283937
2938  2939          Czestochowa         POL              Slaskie      257812
2939  2940               Gdynia         POL            Pomorskie      253521
2940  2941            Sosnowiec         POL              Slaskie      244102
2941  2942                Radom         POL          Mazowieckie      232262
2942  2943               Kielce         POL       Swietokrzyskie      212383
2943  2944              Gliwice         POL              Slaskie      212164
2944  2945                Torun         POL   Kujawsko-Pomorskie      206158
2945  2946                Bytom         POL              Slaskie      205560
2946  2947               Zabrze         POL              Slaskie      200177
2947  2948        Bielsko-Biala         POL              Slaskie      180307
2948  2949              Olsztyn         POL  Warminsko-Mazurskie      170904
2949  2950              Rzeszów         POL         Podkarpackie      162049
2950  2951          Ruda Slaska         POL              Slaskie      159665
2951  2952               Rybnik         POL              Slaskie      144582
2952  2953            Walbrzych         POL         Dolnoslaskie      136923
2953  2954                Tychy         POL              Slaskie      133178
2954  2955     Dabrowa Górnicza         POL              Slaskie      131037
2955  2956                Plock         POL          Mazowieckie      131011
2956  2957               Elblag         POL  Warminsko-Mazurskie      129782
2957  2958                Opole         POL             Opolskie      129553
2958  2959  Gorzów Wielkopolski         POL             Lubuskie      126019
2959  2960            Wloclawek         POL   Kujawsko-Pomorskie      123373
2960  2961              Chorzów         POL              Slaskie      121708
2961  2962               Tarnów         POL          Malopolskie      121494
2962  2963         Zielona Góra         POL             Lubuskie      118182
2963  2964             Koszalin         POL  Zachodnio-Pomorskie      112375
2964  2965              Legnica         POL         Dolnoslaskie      109335
2965  2966               Kalisz         POL        Wielkopolskie      106641
2966  2967            Grudziadz         POL   Kujawsko-Pomorskie      102434
2967  2968               Slupsk         POL            Pomorskie      102370
2968  2969     Jastrzebie-Zdrój         POL              Slaskie      102294
2969  2970             Jaworzno         POL              Slaskie       97929
2970  2971         Jelenia Góra         POL         Dolnoslaskie       93901
PRI
        ID      Name CountryCode  District  Population
2918  2919  San Juan         PRI  San Juan      434374
2919  2920   Bayamón         PRI   Bayamón      224044
2920  2921     Ponce         PRI     Ponce      186475
2921  2922  Carolina         PRI  Carolina      186076
2922  2923    Caguas         PRI    Caguas      140502
2923  2924   Arecibo         PRI   Arecibo      100131
2924  2925  Guaynabo         PRI  Guaynabo      100053
2925  2926  Mayagüez         PRI  Mayagüez       98434
2926  2927  Toa Baja         PRI  Toa Baja       94085
PRK
        ID        Name CountryCode      District  Population
2317  2318   Pyongyang         PRK  Pyongyang-si     2484000
2318  2319     Hamhung         PRK    Hamgyong N      709730
2319  2320    Chongjin         PRK    Hamgyong P      582480
2320  2321       Nampo         PRK      Nampo-si      566200
2321  2322     Sinuiju         PRK     Pyongan P      326011
2322  2323      Wonsan         PRK       Kangwon      300148
2323  2324  Phyongsong         PRK     Pyongan N      272934
2324  2325     Sariwon         PRK    Hwanghae P      254146
2325  2326       Haeju         PRK    Hwanghae N      229172
2326  2327     Kanggye         PRK       Chagang      223410
2327  2328    Kimchaek         PRK    Hamgyong P      179000
2328  2329      Hyesan         PRK      Yanggang      178020
2329  2330     Kaesong         PRK    Kaesong-si      171500
PRT
        ID     Name CountryCode District  Population
2913  2914   Lisboa         PRT   Lisboa      563210
2914  2915    Porto         PRT    Porto      273060
2915  2916  Amadora         PRT   Lisboa      122106
2916  2917  Coímbra         PRT  Coímbra       96100
2917  2918    Braga         PRT    Braga       90535
PRY

        ID        Name CountryCode    District  Population
3491  3492  Montevideo         URY  Montevideo     1236000
USA
        ID          Name CountryCode        District  Population
3792  3793      New York         USA        New York     8008278
3793  3794   Los Angeles         USA      California     3694820
3794  3795       Chicago         USA        Illinois     2896016
3795  3796       Houston         USA           Texas     1953631
3796  3797  Philadelphia         USA    Pennsylvania     1517550
...    ...           ...         ...             ...         ...
4061  4062       Kenosha         USA       Wisconsin       89447
4062  4063         Elgin         USA        Illinois       89408
4063  4064        Odessa         USA           Texas       89293
4064  4065        Carson         USA      California       89089
4065  4066    Charleston         USA  South Carolina       89063

[274 rows x 5 columns]
UZB
        ID       Name CountryCode         District  Population
3502  3503    Toskent         UZB   Toskent Shahri     2117500
3503  3504   Namangan         UZB         Namangan      370500
3504  3505  Samarkand         UZB        Samarkand      361800
3505  3506    Andijon         UZB          Andijon      318600
3506  3507     Buhoro         UZB           Buhoro      237100
3507  3508      Karsi         UZB      Qashqadaryo      194100
3508  3509      Nukus         UZB  Karakalpakistan      194100
3509  3510      Kükon         UZB          Fargona      190100
3510  3511    Fargona         UZB          Fargona      180500
3511  3512     Circik         UZB          Toskent      146400
3512  3513   Margilon         UZB          Fargona      140800
3513  3514     Ürgenc         UZB          Khorazm      138900
3514  3515     Angren         UZB          Toskent      128000
3515  3516      Cizah         UZB            Cizah      124800
3516  3517      Navoi         UZB            Navoi      116300
3517  3518    Olmalik         UZB          Toskent      114900
3518  3519     Termiz         UZB     Surkhondaryo      109500
VAT
        ID                Name CountryCode District  Population
3537  3538  Città del Vaticano         VAT        –         455
VCT
        ID       Name CountryCode   District  Population
3065  3066  Kingstown         VCT  St George       17100
VEN
        ID                   Name CountryCode          District  Population
3538  3539                Caracas         VEN  Distrito Federal     1975294
3539  3540              Maracaíbo         VEN             Zulia     1304776
3540  3541           Barquisimeto         VEN              Lara      877239
3541  3542               Valencia         VEN          Carabobo      794246
3542  3543         Ciudad Guayana         VEN           Bolívar      663713
3543  3544                 Petare         VEN           Miranda      488868
3544  3545                Maracay         VEN            Aragua      444443
3545  3546              Barcelona         VEN        Anzoátegui      322267
3546  3547                Maturín         VEN           Monagas      319726
3547  3548          San Cristóbal         VEN           Táchira      319373
3548  3549         Ciudad Bolívar         VEN           Bolívar      301107
3549  3550                 Cumaná         VEN             Sucre      293105
3550  3551                 Mérida         VEN            Mérida      224887
3551  3552                Cabimas         VEN             Zulia      221329
3552  3553                Barinas         VEN           Barinas      217831
3553  3554                Turmero         VEN            Aragua      217499
3554  3555                 Baruta         VEN           Miranda      207290
3555  3556         Puerto Cabello         VEN          Carabobo      187722
3556  3557      Santa Ana de Coro         VEN            Falcón      185766
3557  3558             Los Teques         VEN           Miranda      178784
3558  3559             Punto Fijo         VEN            Falcón      167215
3559  3560               Guarenas         VEN           Miranda      165889
3560  3561               Acarigua         VEN        Portuguesa      158954
3561  3562         Puerto La Cruz         VEN        Anzoátegui      155700
3562  3563          Ciudad Losada         VEN               NaN      134501
3563  3564                Guacara         VEN          Carabobo      131334
3564  3565                 Valera         VEN          Trujillo      130281
3565  3566                Guanare         VEN        Portuguesa      125621
3566  3567               Carúpano         VEN             Sucre      119639
3567  3568           Catia La Mar         VEN  Distrito Federal      117012
3568  3569               El Tigre         VEN        Anzoátegui      116256
3569  3570                Guatire         VEN           Miranda      109121
3570  3571               Calabozo         VEN           Guárico      107146
3571  3572               Pozuelos         VEN        Anzoátegui      105690
3572  3573           Ciudad Ojeda         VEN             Zulia       99354
3573  3574        Ocumare del Tuy         VEN           Miranda       97168
3574  3575     Valle de la Pascua         VEN           Guárico       95927
3575  3576                 Araure         VEN        Portuguesa       94269
3576  3577  San Fernando de Apure         VEN             Apure       93809
3577  3578             San Felipe         VEN           Yaracuy       90940
3578  3579               El Limón         VEN            Aragua       90000
VGB
      ID       Name CountryCode District  Population
536  537  Road Town         VGB  Tortola        8000
VIR
        ID              Name CountryCode   District  Population
4066  4067  Charlotte Amalie         VIR  St Thomas       13000
VNM
        ID              Name CountryCode           District  Population
3768  3769  Ho Chi Minh City         VNM   Ho Chi Minh City     3980000
3769  3770             Hanoi         VNM              Hanoi     1410000
3770  3771          Haiphong         VNM           Haiphong      783133
3771  3772           Da Nang         VNM  Quang Nam-Da Nang      382674
3772  3773          Biên Hoa         VNM           Dong Nai      282095
3773  3774         Nha Trang         VNM          Khanh Hoa      221331
3774  3775               Hue         VNM     Thua Thien-Hue      219149
3775  3776           Can Tho         VNM            Can Tho      215587
3776  3777           Cam Pha         VNM         Quang Binh      209086
3777  3778          Nam Dinh         VNM             Nam Ha      171699
3778  3779          Quy Nhon         VNM          Binh Dinh      163385
3779  3780          Vung Tau         VNM    Ba Ria-Vung Tau      145145
3780  3781          Rach Gia         VNM         Kien Giang      141132
3781  3782        Long Xuyen         VNM           An Giang      132681
3782  3783       Thai Nguyen         VNM           Bac Thai      127643
3783  3784          Hong Gai         VNM         Quang Ninh      127484
3784  3785        Phan Thiêt         VNM         Binh Thuan      114236
3785  3786          Cam Ranh         VNM          Khanh Hoa      114041
3786  3787              Vinh         VNM            Nghe An      112455
3787  3788            My Tho         VNM         Tien Giang      108404
3788  3789            Da Lat         VNM           Lam Dong      106409
3789  3790     Buon Ma Thuot         VNM            Dac Lac       97044
VUT
        ID       Name CountryCode District  Population
3536  3537  Port-Vila         VUT    Shefa       33700
WLF
        ID      Name CountryCode District  Population
3535  3536  Mata-Utu         WLF   Wallis        1137
WSM
        ID  Name CountryCode District  Population
3168  3169  Apia         WSM    Upolu       35900
YEM
        ID        Name CountryCode   District  Population
1779  1780       Sanaa         YEM      Sanaa      503600
1780  1781        Aden         YEM       Aden      398300
1781  1782       Taizz         YEM      Taizz      317600
1782  1783     Hodeida         YEM    Hodeida      298500
1783  1784  al-Mukalla         YEM  Hadramawt      122400
1784  1785         Ibb         YEM        Ibb      103300
YUG
        ID        Name CountryCode             District  Population
1791  1792     Beograd         YUG       Central Serbia     1204000
1792  1793    Novi Sad         YUG            Vojvodina      179626
1793  1794         Niš         YUG       Central Serbia      175391
1794  1795    Priština         YUG  Kosovo and Metohija      155496
1795  1796  Kragujevac         YUG       Central Serbia      147305
1796  1797   Podgorica         YUG           Montenegro      135000
1797  1798    Subotica         YUG            Vojvodina      100386
1798  1799     Prizren         YUG  Kosovo and Metohija       92303
ZAF
      ID              Name CountryCode       District  Population
711  712         Cape Town         ZAF   Western Cape     2352121
712  713            Soweto         ZAF        Gauteng      904165
713  714      Johannesburg         ZAF        Gauteng      756653
714  715    Port Elizabeth         ZAF   Eastern Cape      752319
715  716          Pretoria         ZAF        Gauteng      658630
716  717            Inanda         ZAF  KwaZulu-Natal      634065
717  718            Durban         ZAF  KwaZulu-Natal      566120
718  719    Vanderbijlpark         ZAF        Gauteng      468931
719  720      Kempton Park         ZAF        Gauteng      442633
720  721          Alberton         ZAF        Gauteng      410102
721  722          Pinetown         ZAF  KwaZulu-Natal      378810
722  723  Pietermaritzburg         ZAF  KwaZulu-Natal      370190
723  724            Benoni         ZAF        Gauteng      365467
724  725          Randburg         ZAF        Gauteng      341288
725  726            Umlazi         ZAF  KwaZulu-Natal      339233
726  727      Bloemfontein         ZAF     Free State      334341
727  728       Vereeniging         ZAF        Gauteng      328535
728  729        Wonderboom         ZAF        Gauteng      283289
729  730        Roodepoort         ZAF        Gauteng      279340
730  731          Boksburg         ZAF        Gauteng      262648
731  732        Klerksdorp         ZAF     North West      261911
732  733        Soshanguve         ZAF        Gauteng      242727
733  734         Newcastle         ZAF  KwaZulu-Natal      222993
734  735       East London         ZAF   Eastern Cape      221047
735  736            Welkom         ZAF     Free State      203296
736  737         Kimberley         ZAF  Northern Cape      197254
737  738         Uitenhage         ZAF   Eastern Cape      192120
738  739        Chatsworth         ZAF  KwaZulu-Natal      189885
739  740         Mdantsane         ZAF   Eastern Cape      182639
740  741       Krugersdorp         ZAF        Gauteng      181503
741  742        Botshabelo         ZAF     Free State      177971
742  743           Brakpan         ZAF        Gauteng      171363
743  744           Witbank         ZAF     Mpumalanga      167183
744  745        Oberholzer         ZAF        Gauteng      164367
745  746         Germiston         ZAF        Gauteng      164252
746  747           Springs         ZAF        Gauteng      162072
747  748        Westonaria         ZAF        Gauteng      159632
748  749       Randfontein         ZAF        Gauteng      120838
749  750             Paarl         ZAF   Western Cape      105768
750  751     Potchefstroom         ZAF     North West      101817
751  752        Rustenburg         ZAF     North West       97008
752  753             Nigel         ZAF        Gauteng       96734
753  754            George         ZAF   Western Cape       93818
754  755         Ladysmith         ZAF  KwaZulu-Natal       89292
ZMB
        ID      Name CountryCode    District  Population
3161  3162    Lusaka         ZMB      Lusaka     1317000
3162  3163     Ndola         ZMB  Copperbelt      329200
3163  3164     Kitwe         ZMB  Copperbelt      288600
3164  3165     Kabwe         ZMB     Central      154300
3165  3166  Chingola         ZMB  Copperbelt      142400
3166  3167  Mufulira         ZMB  Copperbelt      123900
3167  3168  Luanshya         ZMB  Copperbelt      118100
ZWE
        ID          Name CountryCode    District  Population
4067  4068        Harare         ZWE      Harare     1410000
4068  4069      Bulawayo         ZWE    Bulawayo      621742
4069  4070   Chitungwiza         ZWE      Harare      274912
4070  4071  Mount Darwin         ZWE      Harare      164362
4071  4072        Mutare         ZWE  Manicaland      131367
4072  4073         Gweru         ZWE    Midlands      128037

In [17]:
code_group.get_group('AFG')

   ID            Name CountryCode  District  Population
0   1           Kabul         AFG     Kabol     1780000
1   2        Qandahar         AFG  Qandahar      237500
2   3           Herat         AFG     Herat      186800
3   4  Mazar-e-Sharif         AFG     Balkh      127800

In [19]:
code_group.describe()['Population']

,count,mean,std,min,25%,50%,75%,max
CountryCode,,,,,,,,
ABW,1.0,29034.000000,NaN,29034.0,29034.00,29034.0,29034.00,29034.0
AFG,4.0,583025.000000,799241.458614,127800.0,172050.00,212150.0,623125.00,1780000.0
AGO,5.0,512320.000000,844105.862437,118200.0,128300.00,130000.0,163100.00,2022000.0
AIA,2.0,778.000000,258.801082,595.0,686.50,778.0,869.50,961.0
ALB,1.0,270000.000000,NaN,270000.0,270000.00,270000.0,270000.00,270000.0
...,...,...,...,...,...,...,...,...
YEM,6.0,290616.666667,155648.468244,103300.0,166425.00,308050.0,378125.00,503600.0
YUG,8.0,273688.375000,377226.883552,92303.0,126346.50,151400.5,176449.75,1204000.0
ZAF,44.0,345372.045455,366793.373731,89292.0,166479.00,232860.0,372345.00,2352121.0
ZMB,7.0,353357.142857,433110.412625,118100.0,133150.00,154300.0,308900.00,1317000.0
ZWE,6.0,455070.000000,503661.219871,128037.0,139615.75,219637.0,535034.50,1410000.0

# HW

In [20]:
df = pd.read_csv('city.csv', sep=';')
df

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [22]:
df_group = df.groupby(['CountryCode'])
df_group

In [31]:
stat_df = df_group.agg(['max', 'min'])['Population'].head(10)
stat_df

C:\Users\111\AppData\Local\Temp\ipykernel_16748\585359767.py:1: FutureWarning: ['District'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  stat_df = df_group.agg(['max', 'min'])['Population'].head(10)

                 max     min
CountryCode
ABW            29034   29034
AFG          1780000  127800
AGO          2022000  118200
AIA              961     595
ALB           270000  270000
AND            21189   21189
ANT             2345    2345
ARE           669181  114395
ARG          2982146   91101
ARM          1248700  172700

In [32]:
stat_df.reset_index()

  CountryCode      max     min
0         ABW    29034   29034
1         AFG  1780000  127800
2         AGO  2022000  118200
3         AIA      961     595
4         ALB   270000  270000
5         AND    21189   21189
6         ANT     2345    2345
7         ARE   669181  114395
8         ARG  2982146   91101
9         ARM  1248700  172700

In [33]:
df2 = pd.read_csv('city.csv', sep=';')
df2

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [35]:
df_group2 = df.groupby(['CountryCode']).agg(['max', 'min'])['Population']
df_group2

C:\Users\111\AppData\Local\Temp\ipykernel_16748\641493866.py:1: FutureWarning: ['District'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df_group2 = df.groupby(['CountryCode']).agg(['max', 'min'])['Population']

                 max     min
CountryCode
ABW            29034   29034
AFG          1780000  127800
AGO          2022000  118200
AIA              961     595
ALB           270000  270000
...              ...     ...
YEM           503600  103300
YUG          1204000   92303
ZAF          2352121   89292
ZMB          1317000  118100
ZWE          1410000  128037

[232 rows x 2 columns]

In [37]:
df_group2['difference'] = df_group2['max'] - df_group2['min']
df_group2

                 max     min  difference
CountryCode
ABW            29034   29034           0
AFG          1780000  127800     1652200
AGO          2022000  118200     1903800
AIA              961     595         366
ALB           270000  270000           0
...              ...     ...         ...
YEM           503600  103300      400300
YUG          1204000   92303     1111697
ZAF          2352121   89292     2262829
ZMB          1317000  118100     1198900
ZWE          1410000  128037     1281963

[232 rows x 3 columns]

In [38]:
df_group2.head(10)

                 max     min  difference
CountryCode
ABW            29034   29034           0
AFG          1780000  127800     1652200
AGO          2022000  118200     1903800
AIA              961     595         366
ALB           270000  270000           0
AND            21189   21189           0
ANT             2345    2345           0
ARE           669181  114395      554786
ARG          2982146   91101     2891045
ARM          1248700  172700     1076000