In [8]:
import pandas as pd

In [13]:
df_acer = pd.read_csv('priceAcer.csv', sep=',', index_col=['id'])
df_acer

                                                 title  price  qty
id
1.0  Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....   10.0  5.0
5.0  Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....   35.0  3.0

In [14]:
df_hp = pd.read_csv('priceHP.csv', sep=',', index_col=['id'])
df_hp

                                                  title  price  qty
id
3.0   Ноут HP Pavilion Gaming 15-bc504ur (7DT87EA) B...    7.0  NaN
4.0   Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...   25.0  2.0
9.0   Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...   15.0  1.0
10.0  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...    NaN  NaN

In [15]:
df_apple = pd.read_csv('priceApple.csv', sep=',', index_col=['id'])
df_apple

                                                 title  price  qty
id
7.0  Ноутбук Apple MacBook Air 13" 256GB 2020 Space...   11.0  1.0

In [20]:
df = pd.concat([df_acer, df_apple, df_hp], keys=['acer', 'apple', 'hp'], axis=0)
df

                                                        title  price  qty
      id
acer  1.0   Ноутбук Acer Aspire 5 A515-54G-502N (NX.HVGEU....   10.0  5.0
      5.0   Ноутбук Acer Aspire 7 A715-41G-R7MZ (NH.Q8LEU....   35.0  3.0
apple 7.0   Ноутбук Apple MacBook Air 13" 256GB 2020 Space...   11.0  1.0
hp    3.0   Ноут HP Pavilion Gaming 15-bc504ur (7DT87EA) B...    7.0  NaN
      4.0   Ноутбук HP Pavilion Notebook 15-cw1011ua (8RW1...   25.0  2.0
      9.0   Ноутбук HP Pavilion Notebook 15-cw1002ua (7KE5...   15.0  1.0
      10.0  Ноутбук HP Pavilion Notebook 15-cw1005ua (7ZF7...    NaN  NaN