In [1]:
import pandas as pd
import qgrid

In [2]:
df = pd.read_csv('result.csv')
df

,Unnamed: 0,order_id,product,qt,price,total,order_date,address,month,hour,day_name
0,0,176558,USB-C Charging Cable,2,11.95,23.90,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",4,8,Friday
1,1,176559,Bose SoundSport Headphones,1,99.99,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",4,22,Sunday
2,2,176560,Google Phone,1,600.00,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4,14,Friday
3,3,176560,Wired Headphones,1,11.99,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",4,14,Friday
4,4,176561,Wired Headphones,1,11.99,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",4,9,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...
185945,185945,259353,AAA Batteries (4-pack),3,2.99,8.97,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",9,20,Tuesday
185946,185946,259354,iPhone,1,700.00,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",9,16,Sunday
185947,185947,259355,iPhone,1,700.00,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",9,7,Monday
185948,185948,259356,34in Ultrawide Monitor,1,379.99,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",9,17,Thursday
185949,185949,259357,USB-C Charging Cable,1,11.95,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",9,0,Monday

In [3]:
qgrid.show_grid(df)

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…