In [1]:
import pandas as pd

In [2]:
cities = pd.Series(
    {'Dnepr': 1000000, 'Kiev': 3000000, 'Paris': 2300000, 'Berlin': 3800000},
    index=['Dnepr', 'Kiev', 'Paris', 'Berlin', 'Milan']
)
cities

Dnepr     1000000.0
Kiev      3000000.0
Paris     2300000.0
Berlin    3800000.0
Milan           NaN
dtype: float64

In [3]:
# (кол-во строк, кол-во столбцов) = размерность 'матрицы'
cities.shape

(5,)

In [4]:
# кол-во элементов в серии всего
cities.size

5

In [5]:
ds1 = pd.Series( [1, 2, 3, 4, 5, 6] )
ds1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [6]:
ds1.iat[2]

3

In [7]:
ds1.iloc[2]

3

In [8]:
cities.loc['Berlin']

3800000.0

### Агрегация

In [9]:
cities.agg(['min', 'max', 'mean', 'sum'])

min      1000000.0
max      3800000.0
mean     2525000.0
sum     10100000.0
dtype: float64

### Apply

In [10]:
ds = pd.Series([11,22,33,44,55,66,77,99])
ds

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    99
dtype: int64

In [11]:
def test(x):
    if x % 2 == 0:
        return x + 1
    else:
        return x

In [12]:
ds.apply(test)

0    11
1    23
2    33
3    45
4    55
5    67
6    77
7    99
dtype: int64

In [13]:
ds.apply(lambda x: x + 1 if x % 2 == 0 else x)

0    11
1    23
2    33
3    45
4    55
5    67
6    77
7    99
dtype: int64

# HW

In [14]:
cities1 = pd.Series(
    {'Dnepr': 1000000, 'Kiev': 3000000, 'Paris': 2300000, 'Berlin': 3800000}
)
cities1

Dnepr     1000000
Kiev      3000000
Paris     2300000
Berlin    3800000
dtype: int64

In [15]:
cities2 = pd.Series(cities.index)
cities2

0     Dnepr
1      Kiev
2     Paris
3    Berlin
4     Milan
dtype: object

In [17]:
cities2.apply(lambda x: x + '!!!' if 'e' in x else x)

0     Dnepr!!!
1      Kiev!!!
2        Paris
3    Berlin!!!
4        Milan
dtype: object

In [20]:
def test2(x):
    if 'e' in x:
        return '-'.join(x)
    else:
        return x

In [21]:
cities2.apply(test2)

0      D-n-e-p-r
1        K-i-e-v
2          Paris
3    B-e-r-l-i-n
4          Milan
dtype: object

In [22]:
cities2[ cities2.str.contains('e') ]

0     Dnepr
1      Kiev
3    Berlin
dtype: object